<div class="text-bg-dark text-center rounded py-4">
    <h5 class="display-12">
        Theater Onboarding form
 </h5>    
</div>
<form class="row" [formGroup]="onBoardService.theaterOnboardForm">
    <div class="col-6 mb-3">
        <label class="form-label">Theater Name</label>
        <input class="form-control form-control-lg" placeholder="Enter Full Name" formControlName="theater_name" />
    </div>
    <div class="col-6 mb-3">
        <label class="form-label">Movie Name</label>
        <input class="form-control form-control-lg" placeholder="Enter Full Name" formControlName="movie_name" />
    </div>
    <div class="col-6 mb-3">
        <label class="form-label">City</label>
        <!-- <input class="form-control form-control-lg" placeholder="Enter City" formControlName="city" /> -->
        <select class="form-select" aria-label="multiple select example" formControlName="city" >
            <option selected>Please select</option>
            <option value="Chennai">Chennai</option>
            <option value="Bengaluru">Bengaluru</option>
        </select>
    </div>
    <div class="col-6 mb-3">
        <label class="form-label">Seat Nos</label>
        <!-- <ng-multiselect-dropdown
            [placeholder]="'Select seat capacity'"  
            [settings]="onBoardService.dropdownSettings"
            [data]="onBoardService.dropdownList"
            formControlName="seats">
        </ng-multiselect-dropdown> -->
        <select class="form-select" aria-label="multiple select example" formControlName="seats" placeholder="Seat capacity">
            <option selected>Please select</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="150">150</option>
          </select>
    </div>
    <div class="col-6 mb-3">
        <label class="form-label">Timings</label>
        <select class="form-select" multiple aria-label="multiple select example" formControlName="showTime" placeholder="Show Time">
            <option selected>Please select</option>
            <option value="8AM">8AM</option>
            <option value="10PM">10PM</option>
          </select>    
        </div>
    <div class="col-6 mb-3">
        <label class="form-label">Ticket Price</label>
        <input class="form-control form-control-lg" placeholder="Ticket Price" formControlName="ticketprice" type="number" />
    </div>
    <div class="col-3 d-grid">
        <input type="button" class="btn btn-lg btn-primary" (click)="theaterOnboard()" value="Add Theater" />    
    </div>
    <div class="col-3 d-grid">
        <input type="button" class="btn btn-lg btn-primary" (click)="updateTheaterInfo(onBoardService.theaterOnboardForm)" value="Update Theater" />    
    </div>
    <br/><br/>
    <div class="text-bg-dark text-center rounded py-4">
        <h5 class="display-12">
            Theaters
     </h5>    
    </div>
    
    <div class="col-md-6">
        <table class="table" cellspacing="3">
            <thead>
                <th>Name</th>
                <th>City</th>
                <th>Movie</th>
                <th>Seat capacity</th>
                <th>Ticket Price</th>
                <th>Show time</th>
                <th>Edit</th>
                <th>Delete</th>
            </thead>
            <tbody>
                <tr *ngFor="let theaterInfo of onBoardService.theaterList">
                    <td>{{theaterInfo.theater_name}}</td>
                    <td>{{theaterInfo.city}}</td>
                    <td>{{theaterInfo.movie_name}}</td>
                    <td>{{theaterInfo.seats.length}}</td>
                    <td>{{theaterInfo.ticketprice | currency: 'INR'}}</td>
                    <td><span style="margin-left: 10px; color: blue;" *ngFor="let shows of theaterInfo.showTime">{{shows}}</span></td>
                    <td (click)="populateTheaterInfo(theaterInfo, theaterInfo._id)">
                        <i class="far fa-pencil-alt" ></i>
                    </td>
                    <td (click)="deleteTheater(theaterInfo._id)">
                        <i class="far fa-trash-alt" ></i>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</form>